[submodule "docker-training-samples-micro-flask"]
	path = flask
	url = https://github.com/2hog/docker-training-samples-micro-flask
[submodule "docker-training-samples-micro-django"]
	path = django
	url = https://github.com/2hog/docker-training-samples-micro-django
[submodule "docker-training-samples-micro-sinatra"]
	path = sinatra
	url = https://github.com/2hog/docker-training-samples-micro-sinatra
[submodule "php"]
	path = php
	url = https://github.com/2hog/docker-training-samples-micro-php
